#main-container {
    margin: auto;
    background-color: aliceblue;
    width: 800px;
}

.wrapper {
    border: 1px solid #EEEDF7;
    margin: 0 auto 0 auto;
    max-width: 600px;
    background-color: #EEEDF7 

}

#menu-bar {
    background-color: #000000;
    color: aliceblue;
    display: flex;
    gap: 70px;
    height: 40px;

}

#menu-bar > h4 {
    margin-left: 5px;
    margin-top: 10px;

}

#banner {
    width: 100%
}

#banmsg {
    background-color: #92CACA;
    color: #000000;
    font-weight:bolder;
    display: flex;
    position: absolute;
    margin-top: -50px;
    margin-left: 470px;
    
}

ul, li {
    display:flex;
    gap: 20px;
    text-decoration: underline;
    color: #92CACA

}




/* Media queries for different screen sizes */

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Adjust styles for small devices */
    .wrapper {
      max-width: 90%;
    }
  }
  
  /* Medium devices (tablets, 601px to 900px) */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    /* Adjust styles for medium devices */
    .wrapper {
      max-width: 80%;
    }
  }
  
  /* Large devices (desktops, 901px and up) */
  @media only screen and (min-width: 901px) {
    /* Adjust styles for large devices */
    .wrapper {
      max-width: 60%;
    }
  }