#main-container {
    margin: auto;
    background-color: aliceblue;
    width: 800px;
}

.wrapper {
    border: 1px solid #EEEDF7;
    margin: 0 auto 0 auto;
    max-width: 600px;
    background-color: #EEEDF7 

}

#menu-bar {
    background-color: #000000;
    color: aliceblue;
    display: flex;
    gap: 70px;
    height: 40px;

}

#menu-bar > h4 {
    margin-left: 5px;
    margin-top: 10px;

}

#banner {
    width: 100%
}

#banmsg {
    background-color: #92CACA;
    color: #000000;
    font-weight:bolder;
    display: flex;
    position: absolute;
    margin-top: -50px;
    margin-left: 470px;
    
}

ul, li {
    display:flex;
    gap: 20px;
    text-decoration: underline;
    color: #92CACA

}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 200px 200px 65px 65px 65px;  */
    margin-left: 15px;
    margin-right: 15px;
    column-gap: 5px
}


#about {
    grid-row: 1;
    grid-column: 1/2; 
    border-right: 2px solid #000000

}

#about-desc {
    grid-row: 1;
    grid-column: 3/8; 
    justify-content: center;
    /* border-left: 2px solid #000000 */
}
    
#work {
    grid-row: 2;
    grid-column: 1/2;
    border-right: 2px solid #000000 

}


.def-img {
    grid-row: 2;
    grid-column: 3/8;
    width: 50px;
    height: 150px;
    
}


#frs-img {
    grid-row: 3;
    grid-column: 3/5;
    margin-top: 70px 

}

#sec-img {
    grid-row: 3;
    grid-column: 5/8;
    margin-top: 70px 

}

#trd-img {
    grid-row: 4;
    grid-column: 3/5; 

}

#frt-img {
    grid-row: 4;
    grid-column: 5/8; 

}

#contact {
    grid-row: 5;
    grid-column: 1/2; 
    border-right: 2px solid #000000

}

#no {
    grid-row: 5;
    grid-column: 3; 

}

#email {
    grid-row: 5;
    grid-column: 4/5; 

}

#github {
    grid-row: 5;
    grid-column: 6; 

}

#facebook {
    grid-row: 5;
    grid-column: 7; 

}

#spotify {
    grid-row: 5;
    grid-column: 8; 

}

            
            


/* Media queries for different screen sizes */

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Adjust styles for small devices */
    .wrapper {
      max-width: 90%;
    }
  }
  
  /* Medium devices (tablets, 601px to 900px) */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    /* Adjust styles for medium devices */
    .wrapper {
      max-width: 80%;
    }
  }
  
  /* Large devices (desktops, 901px and up) */
  @media only screen and (min-width: 901px) {
    /* Adjust styles for large devices */
    .wrapper {
      max-width: 60%;
    }
  }